@model RedisNeo2.Models.DTOs.PorukaDTO
@using System.Security.Claims


@{
    var p = ViewBag.PORUKA;
    var k = ViewBag.KORISNIK;
    var user = Context.User.FindFirstValue(ClaimTypes.Email);
}


   <div class="container">
        <div class="row p-1">
            <div class="col-1"></div>
             <label for="userKorisnik">KORISNIK_USER </label>
             <div class="col-5"><span id="userKorisnik"/></div>
        </div>
        <div class="row p-1">
            <div class="col-1">Message</div>
            <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
        </div>
        <div class="row p-1">
            <div class="col-6 text-end">
                <input type="button" id="sendButtonKorisnik" value="Send Message To All" />
                
            </div>
        </div>
        <div class="row p-1">
            <div class="col-6">
                <hr />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>
    </div>
    <form asp-action="Send" method="post" asp-controller="Chat">
         <div class="form-group">
                <label asp-for="Receiver ">Receiver</label>
                <input type="text" class="form-control" asp-for="Receiver" />
                <span asp-validation-for="Receiver" class="text-danger"></span>
         </div>
         <div class="form-group">
                <label asp-for="Poruka ">Poruka</label>
                <input type="text" class="form-control" asp-for="Poruka" />
                <span asp-validation-for="Poruka" class="text-danger"></span>
         </div>
        <input type="submit" id="salji" value="Posalji poruku" />
    </form>
    <hr/>
    <form method="get" asp-controller="Chat" asp-action="Receive">
        <input type="submit" id="primi" value="Primi poruku" />
         <div class="form-group">
             <p>@p</p>
             <p>@k</p>
             <br />
         </div>
        
    </form>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chatK.js"></script>