@model RedisNeo2.Models.Entities.Korisnik
@using static RedisNeo2.Controllers.KorisnikController
@{
    ViewData["Title"] = "UclaniSe";
    Layout = "_Layout";

    // RedisNeo2.Controllers.KorisnikController.
    // var homeController = ViewContext.ViewBag as KorisnikController;
}

<h1>UclaniSe</h1>

